


.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
    text-align: center;
}

.container {
    padding: 5px;
}

.font-cursive {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font-mono {
    font-family: 'Share Tech Mono', monospace;
}

.icon {
    font-size: 2.4em;
    color: #3f626d;
    text-decoration: none;
    margin: 0 5px;
}
.icon:hover {
    color: #006699;
}

.center {
    text-align: center
}